<div>
    <nz-table #nzTable
              nzShowSizeChanger
              [nzData]="dataSet"
    >
        <thead>
        <tr>
            <th
                    nzShowCheckbox
                    [(nzChecked)]="allChecked"
                    [nzIndeterminate]="indeterminate"
                    (nzCheckedChange)="checkAll($event)"
            ></th>
            <ng-container *ngFor="let config of tableConfig.columnConfig let index = index">
                <ng-container [ngSwitch]="config.type">
                    <ng-container *ngSwitchDefault>
                        <th  style="user-select:none;position: relative">
                            <!--{{config.title}}-->
                            <span style="display: inline-block;margin-top: 5px" class="table-text-td"
                                  [title]="config.title">{{config.title}}</span>
                            <ng-template [ngTemplateOutlet]="config.template"></ng-template>
                        </th>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tr>
        </thead>
        <tbody>
        <ng-container >
            <tr *ngFor="let item of nzTable.data">
                <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshStatus()"></td>
                <td *ngFor="let config of tableConfig.columnConfig">{{ item[config.key] }}</td>
            </tr>
        </ng-container>
    </nz-table>


</div>


