
<div style="display: flex">
  <!--<ul nz-menu [nzMode]="'vertical'" style="width: 250px; flex-basis: 250px">-->
    <!--<li nz-submenu routerLink="index/jq">-->
      <!--<span title ><i nz-icon type="mail"></i> 响应式表单 One</span>-->
    <!--</li>-->
    <!--<li nz-submenu routerLink="open-model">-->
      <!--<span title ><i nz-icon type="appstore"></i> 模态框 Two</span>-->
    <!--</li>-->
    <!--<li nz-submenu routerLink="table">-->
      <!--<span title ><i nz-icon type="appstore"></i> table表格 Three</span>-->
    <!--</li>-->
    <!--<li nz-submenu routerLink="index/view-child">-->
      <!--<span title ><i nz-icon type="appstore"></i> viewChild模版用法 four</span>-->
    <!--</li>-->
    <!--<li nz-submenu routerLink="index/element-ref">-->
      <!--<span title ><i nz-icon type="appstore"></i> element用法 five</span>-->
    <!--</li>-->
    <!--<li nz-submenu routerLink="index/routing-path">-->
      <!--<span title ><i nz-icon type="appstore"></i> 路由跳转及参数传递 six</span>-->
    <!--</li>-->
    <!--<li nz-submenu routerLink="index/name-editor">-->
      <!--<span title ><i nz-icon type="appstore"></i> nav导航 seven</span>-->
    <!--</li>-->
  <!--</ul>-->
  <div class="ly-con">
    <router-outlet></router-outlet>
  </div>

</div>

